* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #E7D2CC;
  /* border-bottom: 3px white solid; */
  margin-bottom: 50px;
  height: 75px;
}

header p {
  font-size: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  background-color: white;
}

select {
  border-radius: 20px;
  font-size: 17px;
  background-color: #E7D2CC;
  width: 20rem;
  padding: 10px;
}

select:hover {
  background-color: #cfa498;
  /* color: white; */
}

input {
  border-radius: 20px;
  font-size: 17px;
  background-color: #E7D2CC;
  width: 20rem;
  padding: 10px;
}

input:hover {
  background-color: #cfa498;
  /* color: white; */
}

.input-div {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  flex-wrap: wrap;
  gap: 5rem;
  margin: auto;
  padding-bottom: 50px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 50px;
  max-width: 2000px;
  margin: 50px auto 0 auto;
}

img {
  width: 100%;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
  border: solid white 2px;
  border-radius: 25px;
  width: 300px;
  height: 430px;
  background: linear-gradient(to top, white 320px, #E7D2CC 70px);
  box-shadow: 3px 3px 20px #868B8E;
}

li:hover {
  background: linear-gradient(to top, #E7D2CC 320px, #cfa498 70px);
  border: white solid 3px;
}

h1 {
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: center;
}

p {
  padding: 1rem;
}

@media only screen and (max-width: 500px) {
  header {
    height: 100px;
  }

  header p {
    font-size: 20px;
    width: 50%;
    /* border: solid red 1px; */
  }

  .title-header {
    font-size: 10px;
    width: 100px;
  }

  li {
    width: 350px;
    height: 500px;
  }

  li h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  li p {
    font-size: 15px;
    ;
  }

  .input-div {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .input-div {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
}


